.frase {
    text-align: justify;
}

.campo-digitacao:focus {
    border: none;
    box-shadow: none;
}

.campo-desabilitado {
    background-color: #DCDCDC;
    color: #808080;
}

.icones{
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid #3ac13a;
}

.borda-vermelha {
    border: 3px solid #db3f3f;
}

body {
    overflow: scroll;
}